:root {
  /* --system-accent-color: #1f94d6; */
  /* --system-accent-color-contrast: #333; */
  /* --background-image: linear-gradient(160deg, #03001e, #7303c0, #ec38bc, #fdeff9); */
  --background-image: url("images/SWColorado.jpg");
  --background-color: #333;
  --background-color-transparent: #3338;
  --background-color-transparent-active: #ccc4;
  --editor-background-color: #111c;
  --toolbar-background-color: #111;
  --toolbar-button-color: #333;
  --color-gradient: linear-gradient(45deg, #7303c0, var(--system-accent-color));
  --blur: blur(10px);
  --editor-blur: blur(20px);
  --border-radius: 8px;
  --border-radius-small: 4px;
  --font-family: /* 'Courier New',  monospace*/;
  --text-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.5);
}

/*** Makes this editor more usable ***/
#custom-css * {
  caret-color: red/* var(--system-accent-color) */;
}

/*** General Changes ***/
/* Default font */
/* .cm-content  */* { /* Un/comment ".cm-content" to toggle editor only or entire UI */
  font-family: var(--font-family);
}

/* Text shadow */
#component-container, #sidebar-tab-container, .tab-container .filename {
  text-shadow: var(--text-shadow);
}

/* Selection and cursor */
.cm-selectionBackground, .cm-cursor-primary { /* TODO: Doesn't work in table + border-radius + dif. color */
  border-radius: var(--border-radius-small);
  background-color: #414141 !important;
}

.cm-cursor-primary {
  box-shadow: 0 0 3px 1px var(--system-accent-color);
}

.cm-selectionBackground {
  box-shadow: 0 3px 4px var(--system-accent-color);
}

/* Inputs */
.form-control {
  margin: .3rem 0;
}

#field-input-, #form-select-, .input-text-button-group {
  /* background: none !important; */
  margin: .2rem 0;
  background-color: var(--background-color-transparent-active) !important;
  border: none !important;
}

/*** Basic styling ***/
/* Toolbar */
#toolbar {
  height: 2.2rem !important;
  padding-right: 4px !important; /* TODO: Looks odd on Windows but good on Mac */
  gap: 0 !important;
  overflow-x: scroll;
  background-color: var(--toolbar-background-color) !important;
}

#toolbar::before {
  content: "";
  position: absolute;
  width: 100px;
  height: inherit;
  left: 0;
  z-index: 1;
  box-shadow: inset 6rem 0px 1rem -1rem var(--toolbar-background-color);
}

#toolbar *, .application-menu, .popover {
  border-radius: var(--border-radius) !important;
}

.popover-arrow {
  border: none !important; /* TODO: Mac specific? */
}

#toolbar-toggle-file-manager > *, .toolbar-group > * {
  width: 2.5rem;
  height: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toolbar-toggle-file-manager.active {
  background-color: var(--toolbar-button-color) !important;
}

#toolbar-toggle-file-manager .active {
  background-color: var(--toolbar-background-color) !important;
}

#toolbar-toggle-sidebar.active {
  background-color: var(--toolbar-button-color) !important;
}

#toolbar .spacer-1x {
  flex-grow: 0 !important;
}

#toolbar .toolbar-text {
  width: auto !important;
}

/* Background */
#window-content {
  background-image: var(--background-image);
  background-size: cover;
  background-position: center; 
}

.view {
  border: none !important;
  border-radius: var(--border-radius);
}

.editor-pane {
  background-color: var(--editor-background-color) !important;
  backdrop-filter: var(--editor-blur);
}

.main-editor-wrapper {
  background: none !important;
}

.empty-pane {
  background-color: transparent !important;
}

@media screen and (max-width: 600px) {
    .main-editor-wrapper .cm-scroller {
      padding: 0 !important;
  }
}

/* File manager */
.file-manager-filter {
  height: 25px !important; /* Only thing with effect on mac */
  padding: 0 !important; /* TODO: Fix on Mac. Look good on windows? */
  overflow: hidden; /* Windows only */
  border: none !important; /* Windows only */
  border-radius: var(--border-radius); /* Windows only */
}

.file-manager-filter-input {
  height: 100% !important;
  background-color: var(--background-color-transparent) !important;
  backdrop-filter: var(--blur);
}

#directories-dirs-header {
  color: #f0f0f0 !important;
}

.display-text {
  border-radius: var(--border-radius-small);
}

/* Global search */
#field-inputquery-input, #field-inputrestrict-to-dir-input, .input-text-button-group {
  background-color: var(--background-color-transparent) !important;
  backdrop-filter: var(--blur);
  border: none !important;
}

#form-buttonundefined {
  margin: 0 .2rem;
}

/* System tablist */
.system-tablist {
  padding: 0 !important; /* Mac only */
  border-radius: var(--border-radius);
  background-color: var(--background-color-transparent) !important;
  backdrop-filter: var(--blur);
}

.system-tab {
  display: flex;
  height: 25px !important;
  justify-content: center;
  align-items: center;
  border: none !important; /* Windows only */
  background: none !important; /* Windows only */
}

.system-tab.active {
  background-color: var(--background-color-transparent-active) !important;
  border-radius: var(--border-radius) !important;
}

/* Tabs */
.tab-container { /* TODO: Shadow or line for separation? */
  height: 33px !important; /* TODO: Close button not centered otherwise */
  background: none !important;
  border: none !important; /* Mac only */
  /* box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5); */
}

.tab-container div[role="tab"] { 
  margin: 1px;
  /* padding-left: 25px !important; */ /* TODO: Windows only, problems on Mac? Yes. Find another way */
  font-size: 13px !important;
  background: none !important; /* Mac only */
  border: none !important;
  border-radius: var(--border-radius);
  box-shadow: none !important; /* TODO: It's barely noticable. Needed? */
}

.tab-container div[role="tab"].active {
  background-color: var(--system-accent-color) !important;
}

.tab-container div[role="tab"]:not(.active):hover {
  background-color: var(--background-color-transparent) !important;
}

.tab-container .close {
  font-size: 0 !important;
  background: none !important;
}

.tab-container div[role="tab"] .close::before {
  content: "✕";
  font-size: 15px !important;
  opacity: 0;
  transition: .2s color ease, .2s opacity ease;
}

.tab-container div[role="tab"]:hover .close::before {
  opacity: 1;
}

.tab-container .close:hover::before {
  color: red;
}

.document-tablist-wrapper .scroller {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* Gutter */
.cm-gutterElement > span {
  visibility: hidden;
}

.cm-gutterElement:first-child {
  display: none !important;
}

.cm-gutterElement > span[title="Fold line"]::before {
  content: "▼";
  visibility: visible;
}

.cm-gutterElement > span[title="Unfold line"]::before {
  content: "▶︎";
  visibility: visible;
}

/* Statusbar at bottom */
.cm-panels, .cm-statusbar {
  background: none !important;
}

/*** Inside Editor ***/
/* Heading tag roman numerals */
.heading-tag span {
  font-family: serif;
  font-size: 0 !important;
}

.heading-tag span::before {
  font-size: 25px !important;
}

.size-header-1 .heading-tag span::before {
  content: "I";
}

.size-header-2 .heading-tag span::before {
  content: "II";
}

.size-header-3 .heading-tag span::before {
  content: "III";
}

.size-header-4 .heading-tag span::before {
  content: "IV";
}

.size-header-5 .heading-tag span::before {
  content: "V";
}

.size-header-6 .heading-tag span::before {
  content: "VI";
}

/* Highlight with accent color */
.cm-code-mark, .cm-url, .cm-link, .cm-code-mark, .cm-zkn-tag, .cm-zkn-link {
  color: var(--system-accent-color) !important;
}

/* Tables */
table { /* Is there a better way? */
  border-radius: var(--border-radius) !important;
  overflow: hidden !important;
}

.table-helper-add-button {
  transition: .2s all ease; /* TODO: Sometimes buggy. Maybe only opacity and scale */
}

.table-helper-add-button:hover {
  opacity: .5;
  scale: 1.5;
}

/* Highlighted text */
.cm-highlight, mark {
  background-image: linear-gradient(to right, yellow, lime); /* TODO: Multiline ok on Mac? */
  color: #111;
  border-radius: var(--border-radius-small); /* TODO: Yes or no? */
}

/* Images */
img {
  border-radius: var(--border-radius);
}

/* Mac specific styling */
#file-manager {
  border-top: none !important;
}

/* Windows specific styling */
body.win32.dark #file-tree, body.win32.dark #sidebar {
  background: none !important;
}

#menubar {
  /* height: 1px; */ /* TODO: Experiment with almost hidden menubar */
  background-image: url("images/logo.png");
  /* transition: .2s height ease; */
}

#menubar * {
  border-radius: var(--border-radius-small);
}

/* #toolbar:hover ~ #menubar {
  height: 31px;
  background-color: red !important;
} */

/* #menubar:hover {
  height: 31px;
  background-color: red !important;
} */

#toolbar-toggle-file-manager {
  display: flex;
}

.application-menu, .popover {
  background-color: #333b !important;
  backdrop-filter: var(--blur);
}

/* WIP */
#toolbar-document-info * {
  white-space: nowrap;
}

.file-manager-filter, .system-tablist {
  margin: .5rem/*  auto */;
  /* min-width: 150px;
  max-width: 300px; */
}

/* .form-control *, .popover button {
  border-radius: var(--border-radius) !important;
  border: none !important;
  background-color: var(--background-color-transparent) !important;
} */

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-button {
  display: none !important;
}

::-webkit-scrollbar-track {
  background-color: #14141e;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, #7303c0, #ec38bc);
  border-radius: 8px;
}
